[submodule "reference/wrapture"]
	path = reference/wrapture
	url = https://github.com/GrahamDumpleton/wrapture
[submodule "reference/jupyterlab-workshop"]
	path = reference/jupyterlab-workshop
	url = https://github.com/GrahamDumpleton/jupyterlab-workshop
